@import url("https://fonts.googleapis.com/css?family=Open+Sans");


.chips-input .container{
  border:1px solid lightgray;
  border-radius: 4px;
  overflow: hidden; 
  overflow-x: auto;
  overflow-y: unset;
  margin: 1em;
  padding: 1ex;
  vertical-align: middle;
  width: 480px
}
.chips-input .container:hover{
  border:1px solid rgb(119, 194, 255);;
}

.chips-input .container div.inline { 
  float:left; 
  margin: 0.1rem 0.3rem 0.1rem 0;
}


.chips-input .input {
  width: 100%;
  margin: auto;
  font: inherit;
  color: #565656;
  -webkit-appearance: none;
  border: none;
}

.chips-input .input:focus {
  border-color: cornflowerblue;
  outline: none;
}

.chips-input .input.has-error {
  border-color: tomato;
}

.chips-input .error {
  font-size: 80%;
  color: tomato;
}

.chips-input .tag-item {
  display: inline-block;
  height: 20px; 
   padding: 1px 4px 1px 1rem;
  display: inline-flex;
  align-items: center;
  font: inherit;
  font-size:  80%;
  border-radius: 3px;
}

.chips-input .tag-item > .button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
  font-weight: bold;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}